{% extends 'index.html' %}
{% block content %}
<h1>Insert New Film</h1>

<form method="post">
<label for="filmID">FilmID</label>
<input type ="number" name = "filmID" disabled>
<label for="title">Title</label>
<input type ="text" name = "title" placeholder="Enter Film Title">
<label for="year">Year Released</label>
<input type="number" name = "year" placeholder="Enter Year Released">
<label for="rating">Rating</label>
<input type="text"name = "rating" placeholder="Enter Film Rating">
<label for="duration">Duration</label>
<input type="number"name = "duration" placeholder="Enter Film Duration">
<label for="genre">Genre</label>
<input type="text"name = "genre" placeholder="Enter Film Genre">
<br>
<br>
<button type="submit">Insert</button>
</form>
{% endblock %}